<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--DataSource 使用Spring的数据源替换Mybatis的配置 c3p0 dbcp druid-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.253.128:3306/gycdb_02"/>
        <property name="username" value="gyc"/>
        <property name="password" value="GYCgyc123???"/>
    </bean>
    <!--SqlSessionFactory,这个就是前一个项目mybatis的配置-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!--绑定Mybatis配置文件 其实这一步也完全可以被取代，把其中的属性都写在这就行-->
        <property name="configLocation" value="mybatis-config.xml"/>
        <property name="typeAliasesPackage" value="com.gyc.pojo"/>
    </bean>
    <!--SqlSessionTemplate就是SqlSession，创建一个SqlSessionTemplate（MyBatis包中的）-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <!--只能使用构造器注入，因为它没有set方法-->
        <constructor-arg ref="sqlSessionFactory"/>
    </bean>

    <!--注入MapperDaoImpl-->
    <bean id="userMapper" class="com.gyc.dao.UserDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSession"/>
    </bean>
</beans>