<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis核心配置文件configuration-->
<configuration>
    <!--留一个属性装装样子-->
    <mappers>
    <!--这个不行<package name="com.gyc.dao"/>-->
        <mapper class="com.gyc.dao.UserDao"/>
    </mappers>
</configuration>