<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!--导入别的配置文件-->
    <!--
    <import resource="A01_ConstructorDI.xml"/>
    <import resource="A02_SetterDI.xml"/>
    <import resource="beans02.xml"/>
    -->

    <!--开启注解-->
    <context:annotation-config/>
    <!--扫描包：从哪个包下面去找bean-->
    <context:component-scan base-package="com.gyc"/>

</beans>