<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--开启AOP注解支持-->
    <bean id="annotationAspect" class="com.gyc.a03AnnotationAspect.AnnotationAspect"/>
    <bean id="userServiceImpl3" class="com.gyc.service.serviceImpl.UserServiceImpl"/>
    <!--proxy-target-class 默认是false（JDK代理）,改为true则是cglib代理-->
    <aop:aspectj-autoproxy proxy-target-class="false"/>


</beans>